.adContainer {
    border: solid #B9D0Ba;
    background-color: #B9D0Ba;
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
}

.leftArrow {
    /* border: solid red; */
    height: 20px;
}

.adTxt {
    /* border: solid blue; */
    height: 20px;
}

.adLink {
    /* border: solid green; */
    height: 20px;
}

.rightArrow {
    /* border: solid red; */
    height: 20px;
}

.navBar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.mainPic {
    width: 100%;
}

.oTxt {
    position: absolute;
    top: 175%;
    left: 0;
    font-size: 40px;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.shop {
    position: relative;
    left: 15%;
    padding: 8px 13px;
    color: white;
    background: black;
    font-size: 1.2rem;
    cursor: pointer;
}